/* primary-text-color - главный цвет на макете
accent-color - цвет которым выделяется элемент (кнопка, ссылка) 
*/ 
:root {
    --primary-text-color: rgb(33, 33, 33);
    --accent-color: rgb(33, 150, 243);
    --primary-white-color: rgb(238, 238, 238);
} 

/*========== <УБИРАЕТ ОФОРМЛЕНИЕ ТЕКСТА > ============*/
.link { 
    text-decoration: none;
}
/*========== <УБИРАЕТ ОФОРМЛЕНИЕ ТЕКСТА> ============*/


/*========== <УБИРАЕТ МАРКЕРЫ У ЛИНК> ============*/
.list {
    list-style: none;
}
/*========== <УБИРАЕТ МАРКЕРЫ У ЛИНК> ============*/


/*========== <УБИРАЕТ КУРСИВНЫЙ ШРИФТ У АДРЕС> ============*/

.address {
    font-style: normal;
    }
    /*========== <УБИРАЕТ КУРСИВНЫЙ ШРИФТ У АДРЕС> ============*/



 /*========== <Header> ============*/
 .header {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;    
}
  /*========== <Header> ============*/



  /*======= <body> =======*/
body { 
    color: var(--primary-text-color);
    font-size: 16px;
    background: #f5f4fa;
    letter-spacing: 3%;
}
  /*====== <End body> =======*/


  /*======Navigation======= */
  .navigation-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: #212121;
  }

  .navigation-link:hover,
  .navigation-link:focus {
    color: #2196F3;
  }

 .contacts.link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
 }

/*=======END Navigation======= */

/*===========HERO========== */
.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.modal-btn {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

.modal.btn:hover,
.modal.btn:focus{
    background: #2196F3;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/*===========END HERO========== */




 /* ==========MAIN СТУДИЯ========== */

 /* .section{} на потом*/

 /* .list {}  на потом*/

 .description-item {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
 /* ========== END MAIN и Header 2 СТУДИЯ========== */

 /* ==========What we do ========== */

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;}








 

