/* primary-text-color - главный цвет на макете
accent-color - цвет которым выделяется элемент (кнопка, ссылка) 
*/ 
:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: font-family: 'Raleway', sans-serif;
    --primary-text-color: rgb(33, 33, 33);
    --accent-color:  #2196F3;
    --white-color: rgb(238, 238, 238);
    --grey-color: #757575;
} 

/*========== <УБИРАЕТ ОФОРМЛЕНИЕ ТЕКСТА > ============*/
.link { 
    text-decoration: none;
}
/*========== <УБИРАЕТ ОФОРМЛЕНИЕ ТЕКСТА> ============*/


/*========== <УБИРАЕТ МАРКЕРЫ У ЛИНК> ============*/
.list {
    list-style: none;
}
/*========== <УБИРАЕТ МАРКЕРЫ У ЛИНК> ============*/


/*========== <УБИРАЕТ КУРСИВНЫЙ ШРИФТ У АДРЕС> ============*/

.address {
    font-style: normal;
    }
    /*========== <УБИРАЕТ КУРСИВНЫЙ ШРИФТ У АДРЕС> ============*/

    /*============ <Body> =============*/
body { 
    font-family: var(--main-font);
    color: var(--primary-text-color);
    font-size: 16px;
    background: var(--white-color)
    /* letter-spacing: 3%; */
}
  /*=========== <End body> ============*/



 /*========== <Header> ============*/
 
 .header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}
.light-theme {
    color: var(--primary-text-color);
}
.dark-theme {
    color: var(--white-color);
}

  /*========== <Header> ============*/



  /*===========Navigation============ */
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

.current {
    color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
  }

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color);
}

/*=========END Navigation========== */


/*===============HERO============== */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.modal-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    cursor: pointer;
}

.modal.btn:hover,
.modal.btn:focus{
    background: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
/*=============END HERO============= */


 /* =============HEADER 2============= */

 /* .section{} на потом*/

 /* .list {}  на потом*/

.section-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    /* text-transform: uppercase; */
    color: var(--primary-text-color);
}

.description-list {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
/* ========== END HEADER 2========== */



 /* ==========What we do ============ */

 .section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* ========== END What we do ============ */


/*============= OUR TEAM============== */

.section-team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.43;
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-description {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    /* identical to box height */
    /* text-align: center; */
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
/*===========END OUR TEAM======== */











 

